<%= render 'form', topfoto: @topfoto %>
<%if notice%>
  <script>
    Materialize.toast('<%=notice%>', 4000)
  </script>
<%end%>
    <% @topfotos.each do |topfoto| %>
      <div class="row">
        <div class="col s12 m12 l10 push-l1">
          <div class="card">
            <br>
            <div class="row">
              <div class="col s1 ">
                <img src="http://lorempixel.com/30/30/people/" class="circle">
              </div>
              <div class="col s11">
                <strong>Alcides Junior</strong>
                <small class="right" style="margin-right:10px"><%=time_ago_in_words(topfoto.created_at)%></small>
              </div>
            </div>
            <div class="card-image waves-block ">
              <%= image_tag topfoto.foto.url %>
            </div>
            <div class="card-content">
                <span class="card-title"><%= topfoto.descricao %></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Comentários<i class="material-icons right">close</i></span>
                <%topfoto.comments.order('id DESC').each do |item|%>
                  <strong>Anônimo</strong><br><%=item.comentario%> <br><small><%=time_ago_in_words(item.created_at)%></small><br><br>
                <%end%>
            </div>
            <div class="card-action">
              <button class="white-text btn-flat waves-effect white btn-floating "><i class="material-icons red-text">favorite</i></button>
              <button class="white-text btn-flat waves-effect white btn-floating activator"><i class="material-icons black-text">chat_bubble_outline</i> </button><%=topfoto.comments.count%>
              <a href="/topfotos/<%=topfoto.id%>" class="white-text btn-flat waves-effect white btn-floating right" data-method="delete"><i class="material-icons black-text">delete</i></a>
              <div class="row">
                <%= form_for(:comment,url: comments_path) do |f| %>
                <div class="col s10 m11 l11">
                  <input name="comment[comentario]" type="text" placeholder="Comente" required>
                  <input name="comment[topfoto_id]" type="hidden" value="<%=topfoto.id%>">
                </div>
                <div class="col s2 m1  l1">
                  <button type="submit" class="btn-flat waves-effect btn-floating white right">
                    <i class="material-icons right blue-text">send</i>
                  </button>
                </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<div class="fixed-action-btn vertical">
  <a href="/topfotos/new" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
</div>
