<!DOCTYPE html>
<html>
  <head>
    <title>Topgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">
            <div class="row">
              <div class="col s4 m3">
                <%= image_tag "topgram.png", id:"toplogo"%>
              </div>
              <div class="col s3 m3">
                 Topgram
              </div>
            </div>
          </a>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
